.section{
    display: flex;
    width: 100%;
    justify-content: center;
    
  }
  
  .card{
    max-width: 600px;
    padding: 3rem 1rem;
  }
  
  
  @media screen and (max-width:786px){
    .section{
        padding-top: 4rem;
    }
  
    .card{
      padding: 3rem 0;
    }
  }
  