.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.socialMedia img{
    max-width: 20px;
    max-height: 20px;
    transition: scale 0.3s ease;
}

.socialMedia img:hover{
    transform: scale(1.1);
}

@media screen and (max-width:786px) {
    .socialMedia img{
        max-width: 20px;
        max-height: 20px;
    }
}